/* image must get max 80% of screen width and place on the center  */

img {
    max-width: 80%;
    margin: 10 auto;
    display: block;
    
}
body {
    justify-content: center;
    align-items: center;

    /* display: flex; */
    height: 100vh;
}